<div class="select-container">
    <div class="selected">
        <div class="selected-header">
            <input class="selected-title selected-search" placeholder="Sélectionner une tâche">
            <span class="reset-selected">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </span>
            <span class="open-select">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </span>
        </div>
        <div class="selected-elements"></div>
    </div>
    <div class="select-options">
        <div class="selected-options"></div>
        {% for element in searchTasks %}
            <div class="options-row">
                <div class="options">
                    <div class="element">
                        <input type="checkbox" name="element[{{ element.id }}]" id="element_{{ element.id }}" value="{{ element.id }}">
                        <label for="element_{{ element.id }}">{{ element.title }}</label>
                    </div>
                    <span class="ml-3 check"></span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>